
/**
 * Restart.
 */
* {
    box-sizing: border-box;
}

::selection,
.hljs::selection,
.hljs span::selection {
    background: #0089ec;
    color: #fff;
    text-shadow: none;
}

::-moz-selection,
.hljs::-moz-selection,
.hljs span::-moz-selection {
    background: #0089ec;
    color: #fff;
    text-shadow: none;
}

html {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
}

b, strong,
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
b,
strong {
    line-height: 0;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre, address,
dl, dd, ol, ul,
form, fieldset, legend, figure,
table, th, td, caption,
hr {
    margin: 0 0 1.25rem;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child,
p:last-child, blockquote:last-child, pre:last-child, address:last-child,
dl:last-child, dd:last-child, ol:last-child, ul:last-child,
form:last-child, fieldset:last-child, legend:last-child, figure:last-child,
table:last-child, th:last-child, td:last-child, caption:last-child,
hr:last-child {
    margin-bottom: 0;
}

ul, ol, dd {
    padding-left: 2.5rem;
}

ul ul,
ol ul {
    list-style: square;
}

code, kbd, pre, samp {
    font-family: 'Ubuntu mono', monospace;
}

pre,
pre.hljs {
    border-radius: 3px;
    padding: 0.5rem 0.75rem;
}

pre {
    background: #1d1f21;
}

img {
    font-style: italic;
    max-width: 100%;
    height: auto;
}

hr {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

a {
    color: #0089ec;
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}



/**
 * Container component.
 */
.container {
    padding: 0 2rem;
    max-width: 50rem;
    margin: 0 auto;
}
.container--padded {
    padding-top: 1.25rem;
}
.container--section {
    margin-bottom: 4rem;
}
.container--sidebar {}
    .container__box {
        margin-bottom: 2.75rem;
    }
    .container__box--bordered {
        padding-bottom: 2rem;
        border-bottom: 1px solid #ddd;
    }
    .container__link-hook {
        position: absolute;
        margin-left: -1em;
        margin-top: 0.0625em;
        font-weight: 100;
        color: #eee;
    }
    .container__box:hover .container__link-hook {
        color: #999;
    }
    .container__link-hook:hover,
    .container__link-hook:focus,
    .container__box .container__link-hook:hover {
        color: #0089ec;
        text-decoration: none;
    }

@media (min-width: 70rem/*tablet*/) {
    .container {
        padding-right: 4rem;
        padding-left: 4rem;
        margin: 0 0 0 20rem;
        max-width: 80rem;
    }
    .container--section {
        margin-bottom: 8rem;
    }
    .container--sidebar {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 2rem;
        width: 20rem;
        overflow: auto;
        background: white;
        border-right: 1px solid #e5e5e5;
    }
}


/**
 * Heading component.
 */
.heading {
    font-weight: 600;
}
.heading--one {
    font-size: 3rem;
}
.heading--two {
    font-size: 1.75rem;
}
.heading--three {
    font-size: 1.5rem;
}
.heading--flat {
    margin-bottom: 0.25rem;
}
    .heading__subtext {
        font-size: 0.875rem;
        color: #999;
    }


/**
 * Meta component.
 */
.meta {
    font-size: 0.75rem;
    color: #999;
    margin-bottom: 1.25rem
}
    .meta__info {
        margin-bottom: 0.25rem;
    }
    .meta__info a {
        color: #666;
    }
    .meta__info a:hover,
    .meta__info a:focus {
        color: #333;
    }


/**
 * List component.
 */
.list {}
.list--plain {
    list-style: none;
}
.list--unindent,
.list--inline-spaced {
    padding: 0;
}
.list--inline-spaced {
    margin-left: -1rem;
    display: flex;
}
    .list--inline-spaced > li {
        display: inline-block;
        flex: 1;
        margin-left: 1rem;
    }


/**
 * Capsule component.
 */
.capsule {
    background: #ccc;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 100;
    font-size: 0.625em;
    text-transform: lowercase;
    padding: 0 0.375em 1px;
    border-radius: 4px;
}
.capsule--access {
    background: blueviolet;
}
.capsule--access-two {
    background: darkorange;
}
.capsule--access-three {
    background: crimson;
}
.capsule--required {
    background: yellowgreen;
}
.capsule--optional {
    background: none;
    border-color: currentcolor;
    color: yellowgreen;
    font-weight: 600;
}


/**
 * Tabs component.
 */
.tabs {
    margin-bottom: 1.25rem;
}
    .tabs__body {}
    .tabs__button {
        color: inherit;
        display: block;
        width: 100%;
        text-align: center;
        border: 0;
        border-bottom: 3px solid transparent;
        padding: 0.5em;
        background: none;
        font-weight: 600;
    }
    .tabs__button:hover,
    .tabs__button:focus {
        text-decoration: none;
        border-color: #b2ddff;
    }
    .is-active .tabs__button {
        border-color: #0089ec;
    }


/**
 * Notification component.
 */
.notification {
    border-radius: 4px;
    border: 1px solid #ddd;
    border-top-width: 2px;
    border-top-color: #0089ec;
    padding: 1rem 1.5rem;
    margin-bottom: 1.25rem;
}
.notification--warning {
    border-top-color: darkorange;
}





/**
 * Style trumps.
 */
.is-block {
    margin-bottom: 1.25rem;
}
.is-centered {
    text-align: center;
}
.is-thin {
    font-weight: 100;
}
.is-dimmed {
    color: #999;
}
.is-dimmed a {
    color: #666;
}
.is-dimmed a:hover,
.is-dimmed a:focus {
    color: #333;
}
.is-color-inherited {
    color: inherit;
}
.is-unit {
    white-space: nowrap;
}
h1,
.is-size-one {
    font-size: 1.5rem;
}
h2,
.is-size-two {
    font-size: 1.25rem;
}
h3,
.is-size-three {
    font-size: 1.125rem;
}
h4,
.is-size-four {
    font-size: 1rem;
}
h5,
.is-size-five {
    font-size: 0.875rem;
}
h6,
.is-size-six {
    font-size: 0.75rem;
}