{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": ["off", "always-multiline"],
    "complexity": ["warn", 6],
    "curly": ["error", "all"],
    "default-case": ["error"],
    "dot-notation": ["warn"],
    "dot-location": ["warn", "property"],
    "eqeqeq": ["error", "allow-null"],
    "eol-last": ["error", "always"],
    "guard-for-in": ["error"],
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "linebreak-style": ["error", "unix"],
    "max-depth": [1, 3],
    "max-len": [1, 80],
    "max-params": [1, 4],
    "max-statements": [1, 20],
    "no-alert": ["error"],
    "no-caller": ["error"],
    "no-console": ["off"],
    "no-else-return": ["warn"],
    "no-extend-native": ["error"],
    "no-eval": ["error"],
    "no-floating-decimal": ["error"],
    "no-implied-eval": ["error"],
    "no-invalid-this": ["error"],
    "no-loop-func": ["warn"],
    "no-multi-str": ["error"],
    "no-native-reassign": ["error"],
    "no-new-func": ["error"],
    "no-new-wrappers": ["error"],
    "no-proto": ["error"],
    "no-return-assign": ["error", "except-parens"],
    "no-script-url": ["error"],
    "no-self-compare": ["error"],
    "no-sequences": ["error"],
    "no-unexpected-multiline": ["error"],
    "no-unused-expressions": ["error"],
    "no-unused-vars": ["error", {"args": "none"}],
    "no-useless-call": ["error"],
    "no-var": ["error"],
    "no-with": ["error"],
    "prefer-const": ["error", {
      "ignoreReadBeforeAssign": false
    }],
    "radix": ["error"],
    "semi": ["error", "never"],
    "valid-jsdoc": ["warn", {
      "prefer": {
        "returns": "return"
      },
      "requireParamDescription": false,
      "requireReturn": false,
      "requireReturnDescription": false
    }]
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "node": true
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  }
}
