---
layout: default
title: Date picker
permalink: /date/
redirect_from: /date.htm
---


<section class="section">


  <div class="section__block section__block--scoped">

    <h1 class="heading heading--divide-center heading--divide-first"><span class="heading__text">The Date Picker<a class="heading__anchor" name="picker" href="#picker">&sect;</a></span></h1>

    <h3 class="heading heading--thin">The basic setup requires targetting an <code class="tag-name">input</code> element and invoking the&nbsp;picker:</h3>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate()</code></pre>
    {% include demo.html class="js__datepicker" %}

    <div class="section__block section__block--notification">
      <p><b>NOTE:</b> months in a JavaScript <code><span class="function">Date</span></code> object are zero-indexed. Meaning, <code><span class="keyword">new</span>&nbsp;<span class="function">Date</span>(<span class="numeric">2015</span>,&nbsp;<span class="numeric">3</span>,&nbsp;<span class="numeric">20</span>)</code> is <u>20&nbsp;April,&nbsp;2016</u>.</p>
      <p>To stay consistent with this, whenever an integer is used in reference to a month, pickadate treats it as zero-indexed. Dates as strings are still parsed as expected.</p>
    </div>

  </div> <!-- .section__block -->


  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">Options<a class="heading__anchor" name="options" href="#options">&sect;</a></span></h2>
    <p>With the basic invocation above, these are the default settings:</p>

    <pre><code data-language="javascript">// <a href="#strings">Strings</a> and <a href="#translations">translations</a>
monthsFull: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
weekdaysFull: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
weekdaysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
showMonthsShort: undefined,
showWeekdaysFull: undefined,

// <a href="#buttons">Buttons</a>
today: 'Today',
clear: 'Clear',
close: 'Close',

// <a href="#accessibility-labels">Accessibility labels</a>
labelMonthNext: 'Next month',
labelMonthPrev: 'Previous month',
labelMonthSelect: 'Select a month',
labelYearSelect: 'Select a year',

// <a href="#formats">Formats</a>
format: 'd mmmm, yyyy',
formatSubmit: undefined,
hiddenPrefix: undefined,
hiddenSuffix: '_submit',
hiddenName: undefined,

// <a href="#editable">Editable input</a>
editable: undefined,

// <a href="#selectors">Dropdown selectors</a>
selectYears: undefined,
selectMonths: undefined,

// <a href="#first-weekday">First day of the week</a>
firstDay: undefined,

// <a href="#limits">Date limits</a>
min: undefined,
max: undefined,

// <a href="#disable-dates">Disable dates</a>
disable: undefined,

// <a href="#container">Root picker container</a>
container: undefined,

// <a href="#container-hidden">Hidden input container</a>
containerHidden: undefined,

// <a href="#close-on-action">Close on a user action</a>
closeOnSelect: true,
closeOnClear: true,

// <a href="#events">Events</a>
onStart: undefined,
onRender: undefined,
onOpen: undefined,
onClose: undefined,
onSet: undefined,
onStop: undefined,

// <a href="#classes">Classes</a>
klass: {

  // The element states
  input: 'picker__input',
  active: 'picker__input--active',

  // The root picker and states *
  picker: 'picker',
  opened: 'picker--opened',
  focused: 'picker--focused',

  // The picker holder
  holder: 'picker__holder',

  // The picker frame, wrapper, and box
  frame: 'picker__frame',
  wrap: 'picker__wrap',
  box: 'picker__box',

  // The picker header
  header: 'picker__header',

  // Month navigation
  navPrev: 'picker__nav--prev',
  navNext: 'picker__nav--next',
  navDisabled: 'picker__nav--disabled',

  // Month &amp; year labels
  month: 'picker__month',
  year: 'picker__year',

  // Month &amp; year dropdowns
  selectMonth: 'picker__select--month',
  selectYear: 'picker__select--year',

  // Table of dates
  table: 'picker__table',

  // Weekday labels
  weekdays: 'picker__weekday',

  // Day states
  day: 'picker__day',
  disabled: 'picker__day--disabled',
  selected: 'picker__day--selected',
  highlighted: 'picker__day--highlighted',
  now: 'picker__day--today',
  infocus: 'picker__day--infocus',
  outfocus: 'picker__day--outfocus',

  // The picker footer
  footer: 'picker__footer',

  // Today, clear, &amp; close buttons
  buttonClear: 'picker__button--clear',
  buttonClose: 'picker__button--close',
  buttonToday: 'picker__button--today'
}</code></pre>

  <div class="section__block section__block--notification">
    <p><b>*</b> It is important to not add any stylings to the picker’s root element. Instead, target the <code>.picker__holder</code> element (or any other within) based on the state of the root element.</p>
  </div>

  </div> <!-- .section__block -->


</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">Strings<a class="heading__anchor" name="strings" href="#strings">&sect;</a></span></h2>
    <p>Change the month and weekday labels as you find suitable:</p>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  weekdaysShort: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
  showMonthsShort: true
})</code></pre>

    {% include demo.html id="date_demo__weekdaysShort" %}

  </div> <!-- .section__block -->

</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">Buttons<a class="heading__anchor" name="buttons" href="#buttons">&sect;</a></span></h2>
    <p>Change the text or hide a button completely by passing a false-y value:</p>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  today: '',
  clear: 'Clear selection',
  close: 'Cancel'
})</code></pre>

    {% include demo.html id="date_demo__buttons" %}

  </div> <!-- .section__block -->

</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">Accessibility labels<a class="heading__anchor" name="accessibility-labels" href="#accessibility-labels">&sect;</a></span></h2>
    <p>Change the <code>title</code> attributes to several elements within the picker:</p>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  labelMonthNext: 'Go to the next month',
  labelMonthPrev: 'Go to the previous month',
  labelMonthSelect: 'Pick a month from the dropdown',
  labelYearSelect: 'Pick a year from the dropdown',
  selectMonths: true,
  selectYears: true
})</code></pre>

    {% include demo.html id="date_demo__accessibility-labels" %}

  </div> <!-- .section__block -->

</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">Translations<a class="heading__anchor" name="translations" href="#translations">&sect;</a></span></h2>
    <p>The picker can be extended to add support for internationalization. Translations for over <a href="{{ site.project.repo }}/blob/{{ site.project.version }}/lib/translations">40 languages</a> are available out of the box, which you can include in one of two ways:</p>

    <pre class="pre--demo"><code data-language="javascript">// Extend the default picker options for <u>all instances</u>.
$.extend($.fn.pickadate.defaults, {
  monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
  weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
  today: 'aujourd\'hui',
  clear: 'effacer',
  formatSubmit: 'yyyy/mm/dd'
})

// Or, pass the months and weekdays as an array for <u>each invocation</u>.
$('.datepicker').pickadate({
  monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
  weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
  today: 'aujourd\'hui',
  clear: 'effacer',
  formatSubmit: 'yyyy/mm/dd'
})</code></pre>
    {% include demo.html id="date_demo__translations" %}

    <div class="section__block section__block--notification">
      <p>When using translations, <a href="#formats">specify the <code>formatSubmit</code> and <code class="attribute">data-value</code></a> to ensure the date parses correctly regardless of locale.</p>
    </div>

    <h3 class="heading heading--divide"><span class="heading__text">RTL languages<a class="heading__anchor--bigger" name="translations_rtl" href="#translations_rtl">&sect;</a></span></h3>
    <p>For languages that flow from right-to-left (RTL), you’ll need to switch the arrows and text direction by linking along the <code>rtl.css</code> file:</p>

    <pre class="pre--demo"><code data-language="html">&lt;!-- Add the stylings *after* the pickadate theme files --&gt;
&lt;link rel="stylesheet" href="lib/themes/rtl.css"&gt;

&lt;!-- Add the language *after* the pickadate script files --&gt;
&lt;script src="lib/translations/ar.js"&gt;&lt;/script&gt;</code></pre>
    {% include demo.html id="date_demo__translations_rtl" %}

  </div> <!-- .section__block -->

</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">Formats<a class="heading__anchor" name="formats" href="#formats">&sect;</a></span></h2>
    <p>Display a human-friendly format and use an alternate one to submit to the server.</p>
    <p>This is done by creating a new hidden <code class="tag-name">input</code> element with the same <code class="attribute">name</code> attribute as the original with an optional prefix/suffix:</p>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  // Escape any <a href="#formatting-rules">“rule” characters</a> with an exclamation mark (!).
  format: 'You selecte!d: dddd, dd mmm, yyyy',
  formatSubmit: 'yyyy/mm/dd',
  hiddenPrefix: 'prefix__',
  hiddenSuffix: '__suffix'
})</code></pre>

    {% include demo.html id="date_demo__formats--a" name="date_input" %}

    <h3 class="heading heading--divide"><span class="heading__text">Send the hidden <code class="attribute">value</code> only<a class="heading__anchor" name="formats_use_hidden_only" href="#formats_use_hidden_only">&sect;</a></span></h3>
    <p>A majority of the time, the value that needs to be sent to the server is just the hidden value – and not the visible one. To make this happen, use the <code>hiddenName</code> option.</p>
    <p>This essentially nullifies the <code>hiddenPrefix</code> and <code>hiddenSuffix</code>, strips the <code class="attribute">name</code> attribute from the source <code class="tag-name">input</code>, and then sets it as the <code class="attribute">name</code> of the hidden <code class="tag-name">input</code>:</p>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  formatSubmit: 'yyyy/mm/dd',
  hiddenName: true
})</code></pre>

    {% include demo.html id="date_demo__formats--b" name="date_input" %}

    <h3 class="heading heading--divide"><span class="heading__text">Pre-fill values using custom formats or translations<a class="heading__anchor--bigger" name="formats_prefill" href="#formats_prefill">&sect;</a><a name="formats_translations" href="#formats_translations"></a></span></h3>
    <p>When using a custom <a href="#formatting-rules">formatting rule</a> for the <code>format</code> option or when using <a href="#translations">translations</a>, the <code class="tag-name">input</code> element should be given a <code class="attribute">data-value</code> attribute formatted using the <code>formatSubmit</code> – the element’s <code class="attribute">value</code> can be left blank. This helps to parse the date from custom formats into various languages:</p>
    <pre class="pre--demo"><code data-language="html">&lt;input data-value="2015/04/20"></code></pre>

    {% include demo.html id="date_demo__formats--c" name="date_demo__formats" data-value="2015/04/20" %}

    <h3 class="heading heading--divide"><span class="heading__text">Formatting Rules<a class="heading__anchor--bigger" name="formatting-rules" href="#formatting-rules">&sect;</a></span></h3>
    <p>The following rules can be used to format any date:</p>

    <table class="table">
      <thead>
        <tr>
          <th>Rule</th>
          <th>Description</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>d</code></td>
          <td>Date of the month</td>
          <td>1 &ndash; 31</td>
        </tr>
        <tr>
          <td><code>dd</code></td>
          <td>Date of the month with a leading zero</td>
          <td>01 &ndash; 31</td>
        </tr>
        <tr>
          <td><code>ddd</code></td>
          <td>Day of the week in short form</td>
          <td>Sun &ndash; Sat</td>
        </tr>
        <tr>
          <td><code>dddd</code></td>
          <td>Day of the week in full form</td>
          <td>Sunday &ndash; Saturday</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td><code>m</code></td>
          <td>Month of the year</td>
          <td>1 &ndash; 12</td>
        </tr>
        <tr>
          <td><code>mm</code></td>
          <td>Month of the year with a leading zero</td>
          <td>01 &ndash; 12</td>
        </tr>
        <tr>
          <td><code>mmm</code></td>
          <td>Month name in short form</td>
          <td>Jan &ndash; Dec</td>
        </tr>
        <tr>
          <td><code>mmmm</code></td>
          <td>Month name in full form</td>
          <td>January &ndash; December</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td><code>yy</code></td>
          <td>Year in short form <b>*</b></td>
          <td>00 &ndash; 99</td>
        </tr>
        <tr>
          <td><code>yyyy</code></td>
          <td>Year in full form</td>
          <td>2000 &ndash; 2999</td>
        </tr>
      </tbody>
    </table>

    <div class="section__block section__block--notification">
      <p><b>*</b> If you use the <code>yy</code> rule in the <code>format</code> option, you <b>must</b> specify the <code>yyyy</code> rule in the <a href="#formats"><code>formatSubmit</code> option</a> with the appropriate <a href="#formats_prefill"><code>data-value</code> attribute</a> to ensure the date parses accurately.</p>
      <p>Never use the <code>yy</code> rule in the <code>formatSubmit</code> option.</p>
    </div>

  </div> <!-- .section__block -->

</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">Editable input<a class="heading__anchor" name="editable" href="#editable">&sect;</a></span></h2>
    <p>By default, typing into the input is disabled by giving it a <code class="attribute">readOnly</code> attribute. Doing so ensures that virtual keyboards don’t pop open on touch devices. It is also a confirmation that values passed to the server will be of a consistent format.</p>
    <p>However, this behavior can be changed using the <code>editable</code> option:</p>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  editable: true
})</code></pre>
    {% include demo.html id="date_demo__editable" %}

    <div class="section__block section__block--notification">
      <p>An important thing to note here is that this disables keyboard bindings on the input element, such as arrow keys opening the picker. You will have to add your own bindings as you see fit.</p>
    </div>

    <h3 class="heading heading--divide"><span class="heading__text">Using HTML5 attributes<a class="heading__anchor--bigger" name="html5-attributes" href="#html5-attributes">&sect;</a></span></h3>
    <p>Because each <code class="tag-name">input</code> is <a href="#editable"><code class="attribute">readOnly</code> by default</a>, HTML5 attributes, such as <code class="attribute">required</code> and <code class="attribute">pattern</code>, do not get enforced.</p>
    <p>To enable default browser behavior on these attributes, set the <a href="#editable"><code>editable</code> property to <code class="constant">true</code></a>.</p>

  </div> <!-- .section__block -->

</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">Dropdown Selectors<a class="heading__anchor" name="selectors" href="#selectors">&sect;</a></span></h2>
    <p>Display <code class="tag-name">select</code> menus to pick the month and year. Anything truth-y enables the selectors and anything false-y switches them into text:</p>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  selectYears: true,
  selectMonths: true
})</code></pre>

    {% include demo.html id="date_demo__selectors--a" %}

    <div class="section__block section__block--notification">
      <p>When <code>selectYears</code> is truthy, the year selector appears <i>before</i> the month. <a href="{{ site.project.repo }}/issues/384">Read here</a> for more details on why.</p>
    </div>

    <p>You can also specify the number of years to show in the dropdown using an even integer - half before and half after the year in focus:</p>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  // `true` defaults to 10.
  selectYears: 4
})</code></pre>

    {% include demo.html id="date_demo__selectors--b" %}

  </div> <!-- .section__block -->

</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">First Weekday<a class="heading__anchor" name="first-weekday" href="#first-weekday">&sect;</a></span></h2>
    <p>The first day of the week can be set to either Sunday or Monday. Anything truth-y sets it as Monday and anything false-y as Sunday:</p>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  firstDay: 1
})</code></pre>

    {% include demo.html id="date_demo__firstDay" %}

  </div> <!-- .section__block -->

</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">Date Limits<a class="heading__anchor" name="limits" href="#limits">&sect;</a></span></h2>
    <p>Set the minimum and maximum selectable dates on the picker.</p>

    <h3 class="heading heading--divide"><span class="heading__text">Using JavaScript dates<a class="heading__anchor--bigger" name="limits-use-dates" href="#limits-use-dates">&sect;</a></span></h3>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  min: new Date(2015,3,20),
  max: new Date(2015,7,14)
})</code></pre>

    {% include demo.html id="date_demo__limits--a" %}

    <h3 class="heading heading--divide"><span class="heading__text">Using arrays formatted as <code>[YEAR,MONTH,DATE]</code><a class="heading__anchor--bigger" name="limits-use-arrays" href="#limits-use-arrays">&sect;</a></span></h3>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  min: [2015,3,20],
  max: [2015,7,14]
})</code></pre>

    {% include demo.html id="date_demo__limits--b" %}

    <h3 class="heading heading--divide"><span class="heading__text">Using integers or a boolean<a class="heading__anchor--bigger" name="limits-relative" href="#limits-relative">&sect;</a></span></h3>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  // An integer (positive/negative) sets it relative to today.
  min: -15,
  // `true` sets it to today. `false` removes any limits.
  max: true
})</code></pre>

    {% include demo.html id="date_demo__limits--c" %}

  </div> <!-- .section__block -->

</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">Disable Dates<a class="heading__anchor" name="disable-dates" href="#disable-dates">&sect;</a></span></h2>
    <p>Disable a specific or arbitrary set of dates selectable on the picker.</p>

    <h3 class="heading heading--divide"><span class="heading__text">Using JavaScript dates<a class="heading__anchor--bigger" name="disable-dates-use-dates" href="#disable-dates-use-dates">&sect;</a></span></h3>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  disable: [
    new Date(2015,3,13),
    new Date(2015,3,29)
  ]
})</code></pre>

    {% include demo.html id="date_demo__disable-dates--a" %}

    <h3 class="heading heading--divide"><span class="heading__text">Using arrays formatted as <code>[YEAR,MONTH,DATE]</code><a class="heading__anchor--bigger" name="disable-dates-use-arrays" href="#disable-dates-use-arrays">&sect;</a></span></h3>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  disable: [
    [2015,3,3],
    [2015,3,12],
    [2015,3,20]
  ]
})</code></pre>

    {% include demo.html id="date_demo__disable-dates--b" %}

    <h3 class="heading heading--divide"><span class="heading__text">Using integers as days of the week (1 to 7)<a class="heading__anchor--bigger" name="disable-dates-use-integers" href="#disable-dates-use-integers">&sect;</a></span></h3>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  disable: [
    1, 4, 7
  ]
})</code></pre>

    {% include demo.html id="date_demo__disable-dates--c" %}

    <h3 class="heading heading--divide"><span class="heading__text">Using objects as a range of dates<a class="heading__anchor--bigger" name="disable-dates-use-ranges" href="#disable-dates-use-ranges">&sect;</a></span></h3>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  disable: [
    { from: [2016,2,14], to: [2016,2,27] }
  ]
})</code></pre>

    {% include demo.html id="date_demo__disable-dates--d" %}

    <p>The values for <code>from</code> &amp; <code>to</code> can be:</p>
    <ul>
      <li>A JavaScript Date object,</li>
      <li>An array formatted as <code>[YEAR,MONTH,DATE]</code>,</li>
      <li>And <code class="constant">true</code> to set it as “today”.</li>
    </ul>
    <p>The values can also be integers representing dates relative to the other:</p>
    <ul>
      <li><code>to</code> can only be positive: <pre><code data-language="javascript">{ from: [2016,3,12], to: 10 }</code></pre></li>
      <li><code>from</code> can only be negative: <pre><code data-language="javascript">{ from: -10, to: true }</code></pre></li>
    </ul>

    <h3 class="heading heading--divide"><span class="heading__text"><i><u>Disabling all</u></i> with a set of exceptions<a class="heading__anchor--bigger" name="disable-dates-all" href="#disable-dates-all">&sect;</a></span></h3>
    <p>Enable only a specific or arbitrary set of dates by setting <code class="constant">true</code> as the first item in the collection:</p>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  disable: [
    true,
    1, 4, 7,
    [2015,3,3],
    [2015,3,12],
    [2015,3,20],
    new Date(2015,3,13),
    new Date(2015,3,29)
  ]
})</code></pre>

    {% include demo.html id="date_demo__disable-dates--e" %}

    <h3 class="heading heading--divide"><span class="heading__text">Disabling ranges with exceptions<a class="heading__anchor--bigger" name="disable-dates-inverted" href="#disable-dates-inverted">&sect;</a></span></h3>
    <p>Enable dates that fall within a range of disabled dates by adding the <code class="string">inverted</code> parameter to the item within the collection:</p>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  disable: [
    5,
    [2015, 10, 21, 'inverted'],
    { from: [2016, 3, 15], to: [2016, 3, 25] },
    [2016, 3, 20, 'inverted'],
    { from: [2016, 3, 17], to: [2016, 3, 18], inverted: true }
  ]
})</code></pre>

    {% include demo.html id="date_demo__disable-dates--f" %}


  </div> <!-- .section__block -->

</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">container<a class="heading__anchor" name="container" href="#container">&sect;</a></span></h2>
    <p>By default, the picker’s root element is inserted right after the main <code class="keyword">input</code> element. Specify where to insert the root element by passing any valid CSS selector or jQuery object to this option:</p>

    <div id="root-picker-outlet" style="position:relative"></div>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  container: '#root-picker-outlet'
})</code></pre>

    {% include demo.html id="date_demo__container" %}

    <div class="section__block section__block--notification">
      <p>This is especially important when the <code class="keyword">input</code> falls within a <code class="keyword">label</code> element because click events bubble up to the <code class="keyword">label</code> element and re-open the picker.</p>
    </div>

    <div class="section__block section__block--notification-red">
      <p>When using this option, be careful not to set the container to something generic like the document’s <code class="keyword">body</code>. This will break the document’s keyboard flow, for example when tabbing through a form. Instead, maintain the flow by keeping the container close to the <code class="keyword">input</code> element.</p>
    </div>

  </div> <!-- .section__block -->

</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">container for the hidden <code class="keyword">input</code><a class="heading__anchor" name="container-hidden" href="#container-hidden">&sect;</a></span></h2>
    <p>By default, the picker’s hidden <code class="keyword">input</code> is inserted right after the main <code class="keyword">input</code> element. Specify where to insert the hidden element by passing any valid CSS selector to this option:</p>

    <div id="hidden-input-outlet" style="position:relative"></div>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  containerHidden: '#hidden-input-outlet'
})</code></pre>

    {% include demo.html id="date_demo__container-hidden" %}

  </div> <!-- .section__block -->

</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">Close on a user action <a class="heading__anchor" name="close-on-action" href="#close-on-action">&sect;</a></span></h2>
    <p>When a date is selected or the “clear” button is pressed, the picker closes. To change this behavior, use the following options:</p>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  closeOnSelect: false,
  closeOnClear: false
})</code></pre>

    {% include demo.html id="date_demo__close-on-action" %}

  </div> <!-- .section__block -->

</section> <!-- .section -->


<section class="section">

  <div class="section__block section__block--scoped">

    <h2 class="heading heading--divide"><span class="heading__text">events<a class="heading__anchor" name="events" href="#events">&sect;</a></span></h2>
    <p>Fire off events as the user interacts with the picker:</p>

    <pre class="pre--demo"><code data-language="javascript">$('.datepicker').pickadate({
  onStart: function() {
    console.log('Hello there :)')
  },
  onRender: function() {
    console.log('Whoa.. rendered anew')
  },
  onOpen: function() {
    console.log('Opened up')
  },
  onClose: function() {
    console.log('Closed now')
  },
  onStop: function() {
    console.log('See ya.')
  },
  onSet: function(context) {
    console.log('Just set stuff:', context)
  }
})</code></pre>

    {% include demo.html id="date_demo__events" placeholder="open-console" %}

    <p>The <code class="function">onSet</code> event is the only callback that is passed a <code>context</code> argument that provides details as to which properties are being “set”.</p>
    <p>Within scope of all six of these events, <code class="keyword">this</code> refers to <a href="{{ "/api" | prepend: site.baseurl }}">the picker</a>.</p>
    <p>To learn more on how to use the picker object, read the <a href="{{ "/api" | prepend: site.baseurl }}">API</a> documentation.</p>

  </div> <!-- .section__block -->

</section> <!-- .section -->
