

.pickadate--holder {
    height: 0;
    position: absolute;
    z-index: 10000;
}

.pickadate--calendar__wrap {
    position: relative;
    max-width: 320px;
    min-width: 256px;
    max-height: 0;
    overflow-y: hidden;

    -webkit-transition: all .15s ease-out;
       -moz-transition: all .15s ease-out;
            transition: all .15s ease-out;
}

.pickadate--opened .pickadate--calendar__wrap {
    top: .5em;
    max-height: 25em;

    -webkit-box-shadow: 0 6px 18px 1px rgba(0,0,0,.12);
       -moz-box-shadow: 0 6px 18px 1px rgba(0,0,0,.12);
            box-shadow: 0 6px 18px 1px rgba(0,0,0,.12);
}

.pickadate--calendar__box {
    padding: 1em;
    font-size: 18px;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.pickadate--calendar {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin-top: 1em;
    font-size: 1em;
}

.pickadate--calendar__date {
    padding: .33em 0 .25em;
    margin: 1px;
    font-weight: 100;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}


.pickadate--weekday {
    width: 14.285714286%; /* 100/7 */
    font-size: .8em;
    padding-bottom: .75em;
    color: #999;
    font-weight: 500;
}


.pickadate--day__infocus:hover,
.pickadate--day__outfocus:hover,
.pickadate--month__prev:hover,
.pickadate--month__next:hover {
    cursor: pointer;
    color: #000;
    background: #b1dcfb;
}


.pickadate--month__nav {
    position: relative;
}

.pickadate--month__prev,
.pickadate--month__next {
    position: absolute;
    top: 0;
    padding: .5em;
    margin: -.5em;
    min-width: 16px;
    height: 24px;
    line-height: 28px;
}

.pickadate--month__prev {
    left: 0;
}
.pickadate--month__next {
    right: 0;
}

.pickadate--month__box,
.pickadate--year__box {
    text-align: center;
}

.pickadate--month {
    font-weight: 500;
}

.pickadate--year {
    font-size: .66em;
    color: #999;
    font-weight: bold;
}

.pickadate--month__selector,
.pickadate--year__selector {
    font-size: .8em;
    border: 1px solid #ccc;
    height: 32px;
}

.pickadate--month__selector {
    margin-bottom: .5em;
    width: 50%;
}

.pickadate--year__selector {
    width: 32%;
}


.pickadate--day__outfocus {
    color: #ccc;
}

.pickadate--day__today {
    color: #0089ec;
}

.pickadate--day__selected,
.pickadate--day__selected:hover {
    background: #0089ec;
    color: #fff;
}

.pickadate--day__disabled,
.pickadate--day__disabled:hover {
    background: #f5f5f5;
    color: #ddd;
    cursor: default;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}







