<div class="container__box">
    <h3 class="heading  heading--flat">Modules</h3>
    <ul class="list--unindent  list--plain">
        {{#each module in modules}}
            <li>
                {{#link-to "module" module.name}}<code>{{module.name}}</code>{{/link-to}}
                {{#if submodules}}
                    {{log "TODO"}}
                    {{log submodules}}
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>