
body {
    margin: 1em;
}

a {
    color: #0089ec;
}
a:focus {
    outline: 2px dotted #000;
}

body,
h1,
h2,
h3,
h4,
h5 {
    font-weight: 100;
}

h1 {
    line-height: 1.5;
    letter-spacing: -4px;
    font-size: 3em;
}

fieldset {
    position: relative;
    margin-bottom: 2.4em;
}

label:hover {
    color: #0089ec;
}

input[type=date],
input[type=text] {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 12px;
    border: 4px solid #e2e2e2;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

input[type=date]:focus,
input[type=text]:focus {
    outline: none;
    border-color: #0089ec;
}



.button,
.button-full,
.button-full--secondary {
    display: inline-block;
    border: 0;
    background: #0089ec;
    color: #fff;
    text-decoration: none;
    padding: 8px 18px;
}

.button-full,
.button-full--secondary {
    padding: .66em 0;
    text-align: center;
    display: block;
    font-size: 1.4em;
}

.button-full--secondary {
    font-size: 1.15em;
    background: #74c346;
}


.underline-highlight {
    border-bottom: 4px solid #0089ec;
}

h3 .underline-highlight {
    border-bottom-width: 3px;
    padding-bottom: 1px;
}

.holder {
    max-width: 540px;
    margin: 0 auto;
    padding: 3em 0 4.2em;
    border-bottom: 1px dotted #ddd;
}

.holder-top {
    padding-top: 0;
}

.holder-clean {
    border-bottom: 0;
    padding-bottom: 0;
}

.aligncenter {
    text-align: center;
}

.link-inherit {
    color: inherit;
    text-decoration: none;
}


.link-anchor {
    position: absolute;
    margin-left: -28px;
    font-weight: bold;
    text-decoration: none;
    color: #444;
}

.link-anchor:hover {
    color: #0089ec;
}

h1 .link-anchor {
    font-size: .6em;
    margin-top: 16px;
}



.notification {
    background: #edffed;
    padding: .6em 1em;
    border: 1px solid #cddfcd;
}

.notification--highlight {
    background: #ffd;
    border-color: #eec;
}



.input-clear {
    width: 2em;
    height: 2em;
    line-height: 2em;
    background: #ccc;
    color: #fff;
    text-align: center;
    position: absolute;
    top: .75em;
    right: .75em;
    display: inline-block;
    text-decoration: none;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.input-clear:hover {
    background: #666;
}


.peace {
    position: relative;
}
.peace:after {
    content: "\270C";
    font-size: 50px;
    color: #ddd;
    position: absolute;
    top: -32px;
    right: -32px;
}





/**
 * Syntax highlighting
 */

.string {
    color: #68c244;
}

.selector,
.function,
.method {
    color: #0069bc;
}

.comment,
.comment a {
    /*color: #8e69c9;*/
    color: #0089ec;
    font-style: italic;
}

.constant {
    color: #d40;
}

.tag-name,
.attribute {
    color: #c50;
}

.keyword {
    color: #b90690;
}

.rainbow,
.operator {
    color: #585856;
}

