/*!
 * Author:         Amsul - http://amsul.ca
 * Last Updated:   31 January, 2013
 */


/* ==========================================================================
   $NORMALIZE
   ========================================================================== */

/**
 * Corrects `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/**
 * Corrects `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/**
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *   user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Removes default margin.
 */

body {
    margin: 0;
}

/**
 * Default selection background based on webkit.
 */

::-moz-selection    { background: #b3d4fc; text-shadow: none; }
::selection         { background: #b3d4fc; text-shadow: none; }

/**
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improves readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: .67em 0;
}

h2 {
    font-size: 1.5em;
    margin: .83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: .83em;
    margin: 1.67em 0;
}

h6 {
    font-size: .75em;
    margin: 2.33em 0;
}

/**
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Addresses styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Addresses styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}


/**
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    word-wrap: break-word;
}

/**
 * Sets consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Addresses inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

/**
 * Stops embedded content from overflowing container
 */
object,
embed,
img {
    max-width: 100%;
}

/**
 * 1. Removes border when inside `a` element in IE 8/9.
 * 2. Fixes down-scaled images in IE 6/7
 */

img {
    border: 0; /* 1 */
     -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Corrects overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/**
 * Addresses margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

/**
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *   and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *   `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/**
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *   (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -webkit-box-sizing: content-box; /* 2 */
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/**
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Removes inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 * 3. Allows only vertically resizing textareas.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    resize: vertical; /* 3 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}









/* ==========================================================================
   ==========================================================================
   ==========================================================================
   ========================================================================== */








/* ========================================================================
   $BASE
   ======================================================================== */

body {
    line-height: 1.6;
    margin: 1em;
}

.holder {
    max-width: 540px;
    margin: 0 auto;
    padding: 3em 0 4.2em;
    border-bottom: 1px dotted #ddd;
}

.holder-top {
    padding-top: 0;
}

.holder-clean {
    border-bottom: 0;
    padding-bottom: 0;
}

.notification {
    background: #edffed;
    padding: .6em 1em;
    border: 1px solid #cddfcd;
}

.notification--highlight {
    background: #ffd;
    border-color: #eec;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
    height: auto;
}


/**
 * Links
 */

a {
    text-decoration: underline;
    cursor: pointer;
    color: #0089ec;
}
a:focus {
    outline: 2px dotted #000;
}

.link-inherit {
    color: inherit;
    text-decoration: none;
}


.link-anchor {
    position: absolute;
    margin-left: -28px;
    font-weight: bold;
    text-decoration: none;
    color: #444;
}

.link-anchor:hover {
    color: #0089ec;
}

h1 .link-anchor {
    font-size: .6em;
    margin-top: 16px;
}





/* ==========================================================================
   $TYPOGRAPHY
   ========================================================================== */

body {
    font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    line-height: 1.25;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
    margin-top: .33em;
}

h1 {
    line-height: 1.5;
    letter-spacing: -4px;
    font-size: 3em;
}


.underline-highlight {
    border-bottom: 4px solid #0089ec;
}

h3 .underline-highlight {
    border-bottom-width: 3px;
    padding-bottom: 1px;
}



/* ==========================================================================
   $FORM-ELEMENTS
   ========================================================================== */

fieldset {
    position: relative;
    border: 0;
    margin: 0 0 2.4em;
    padding: 0;
}

label:hover {
    color: #0089ec;
}


/**
 * Inputs and textareas
 */

input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=number],
input[type=search],
textarea {
    font-size: 1.5em;
    font-weight: bold;
    border: 4px solid #e2e2e2;
    padding: 10px 12px;
    width: 100%;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

textarea {
    min-height: 2em;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=number]:focus,
input[type=search]:focus,
textarea:focus {
    outline: none;
    border-color: #0089ec;
}


/**
 * Radios and checkboxes
 */

input[type=checkbox],
input[type=radio] {
    margin-right: 5px;
    vertical-align: 1px;
}


/**
 * Select drop-downs and search
 */

select {
    border: 1px solid #999;
    background: #fff;
    padding: 3px 5px;
    height: 29px;
    white-space: nowrap;
}

input[type=search] {
    padding-left: 0;
    padding-right: 0;

    -webkit-border-radius: 14px;
       -moz-border-radius: 14px;
            border-radius: 14px;
}



/* ==========================================================================
   $TABLES
   ========================================================================== */

.table {
    line-height: 1.5;
    background: #fff;
    border: 1px solid #ccc;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.table th,
.table td {
    vertical-align: top;
    padding: 10px;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

.table th:last-child,
.table td:last-child {
    border-right: 0;
}

.table th {
    background: #f5f5f5;
    border-top: 0;
}



/* ==========================================================================
   $CODE
   ========================================================================== */

pre,
code {
    font-family: 'Monaco', 'Consolas', 'Liberation Mono', monospace;
    padding: 1px 3px;
    border: 1px solid #e9ebeb;
    background-color: #f5f8f8;
    font-size: .9em;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

pre {
    overflow-x: auto;
    padding: 1em;
    font-size: 1em;
}

pre > code {
    display: table;
    line-height: 1.5;
    border: 0;
    background: none;
    padding: 0 4.2em 0 0;
}






/* ==========================================================================
   $BUTTONS
   ========================================================================== */

.button,
.button-full,
.button-full--secondary {
    display: inline-block;
    border: 0;
    background: #0089ec;
    color: #fff;
    text-decoration: none;
    padding: 8px 18px;
}

.button-full,
.button-full--secondary {
    padding: .66em 18px;
    text-align: center;
    display: block;
    font-size: 1.4em;
}

.button-full--secondary {
    font-size: 1.15em;
    background: #74c346;
}

.button-header {
    font-size: 14px;
    letter-spacing: 0;
    margin-left: 1em;
    vertical-align: 8px;
    font-weight: 500;
}








/* ==========================================================================
   $DEMO-STUFF
   ========================================================================== */

.list-inline {
    margin: 2em 0;
    padding: 0;
    list-style: none;
}
.list-inline > li {
    margin-right: .5em;
    float: left;
}

.button-pill {
    text-decoration: none;
    background: #aaa;
    color: #fff;
    font-size: .75em;
    padding: 3px 6px 2px;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.button-pill:hover {
    background: #0089ec;
}


.input-clear {
    width: 2em;
    height: 2em;
    line-height: 2em;
    background: #ccc;
    color: #fff;
    text-align: center;
    position: absolute;
    top: .75em;
    right: .75em;
    display: inline-block;
    text-decoration: none;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.input-clear:hover {
    background: #666;
}


.peace {
    position: relative;
    display: inline-block;
    background: red;
    width: 0;
    left: .66em;
    top: .66em;
}
.peace:after {
    content: "\270C";
    font-size: 4em;
    color: #e5e5e5;
}





/**
 * Syntax highlighting
 */

.string {
    color: #68c244;
}

.selector,
.function,
.method {
    color: #0069bc;
}

.comment,
.comment a {
    /*color: #8e69c9;*/
    color: #0089ec;
    font-style: italic;
}

.constant {
    color: #d40;
}

.tag-name,
.attribute {
    color: #c50;
}

.keyword {
    color: #b90690;
}

.rainbow,
.operator {
    color: #585856;
}






/* ==========================================================================
   $HELPERS
   ========================================================================== */

.dimmed,
a.dimmed {
    color: #999;
}

.warning {
    color: #e20;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    text-align: center;
}


/**
 * Clear fix from HTML5 Boilerplate
 */

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}













