<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <meta name="author" content="Amsul - {{site.homepage}}">
    <meta name="copyright" content="&copy; Amsul">

    <meta name="viewport" content="width=device-width">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% if page.title %}
        <title>{{page.title}} / pickadate.js</title>
    {% else %}
        <title>pickadate.js</title>
    {% endif %}

    <link rel="stylesheet" href="{{site.baseurl}}/lib/css/styles.css">

</head>
<body>

    <header>header</header>

    {{content}}

    <footer>footer</footer>

    <script src="{{site.baseurl}}/tests/jquery/jquery.1.7.0.js"></script>
    <script src="{{site.baseurl}}/lib/shadow.js"></script>
    <script src="{{site.baseurl}}/lib/ui-picker.js"></script>
    <script src="{{site.baseurl}}/lib/ui-pickadate.js"></script>
    <script>
        $('[data-ui="pickadate"]').each(function() {
            var pickadate = $(this).data('shadow.ui');
            window[pickadate.id] = pickadate
        });
    </script>
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36321179-2']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>
</html>
