

/**
 * Mobile first
 */


/**
 * Prevent the page from scrolling
 */
/*html*/.pickadate__active {
    overflow: hidden;
}



/**
 * The calendar holder that fills the entire screen
 */
.pickadate__holder {
    width: 100%;
    height: 100%;
    z-index: 10000;

    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;

    /* Fade out the background after the caledar's out of view, then immediately hide the holder */
    -webkit-transition: background .15s ease-out, top 0s .2s;
       -moz-transition: background .15s ease-out, top 0s .2s;
            transition: background .15s ease-out, top 0s .2s;
}

/**
 * The calendar frame
 */
.pickadate__frame {
    min-width: 256px;
    max-width: 666px;
    margin: 0 auto;

    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    -webkit-transition: all .15s ease-out;
       -moz-transition: all .15s ease-out;
            transition: all .15s ease-out;
}


/**
 * The calendar wrapper
 */
.pickadate__wrap {
    display: table;
    width: 100%;
    height: 100%;
}


/**
 * The calendar itself
 */
.pickadate__calendar {
    display: table-cell;
    vertical-align: middle;

    line-height: 1.2;
    color: #000;

    background: #fff;
    padding: 1em;
}


/**
 * When the calendar opens
 */
.pickadate__holder--opened {

    /* Show a translucent black background (order is important) */
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000); /* IE6 & 7 */
          zoom: 1;
    background: rgba(0,0,0,.32); /* Normal browsers */

    /* Animate in the background immediately */
    -webkit-transition: background .15s ease-out;
       -moz-transition: background .15s ease-out;
            transition: background .15s ease-out;
}

/* Animate the calendar holder and frame into view */
.pickadate__holder--opened,
.pickadate__holder--opened .pickadate__frame {
    top: 0;
}



/**
 * The calendar table of dates
 */

.pickadate__calendar--table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: inherit;
    width: 100%;
    margin-top: .5em;
}

.pickadate__weekday {
    width: 14.285714286%; /* 100/7 */
    font-size: .75em;
    padding-bottom: .25em;
    color: #999;
    font-weight: 500;
}


.pickadate__day--infocus:hover,
.pickadate__day--outfocus:hover,
.pickadate__month--prev:hover,
.pickadate__month--next:hover,
.pickadate__button--today:hover,
.pickadate__button--clear:hover {
    cursor: pointer;
    color: #000;
    background: #b1dcfb;
}

.pickadate__month--prev,
.pickadate__month--next {
    position: absolute;
    top: -.15em;
    padding: .5em;
    margin: -.5em;
    text-align: center;
    min-width: 24px;
    height: 24px;
    line-height: 26px;
}

.pickadate__month--prev {
    left: 0;
}
.pickadate__month--next {
    right: 0;
}



/**
 * The header containing the month and year tags/selectors
 */
.pickadate__header {
    text-align: center;
    position: relative;
}

.pickadate__month,
.pickadate__year {
    font-weight: 500;
    display: inline-block;
}

.pickadate__year {
    color: #999;
    font-size: .8em;
    font-style: italic;
    margin-left: .5em;
}

.pickadate__month--selector,
.pickadate__year--selector {
    font-size: .8em;
    border: 1px solid #ccc;
    height: 2.5em;
    margin-top: -.25em;
}

.pickadate__month--selector {
    width: 35%;
}

.pickadate__year--selector {
    width: 22.5%;
    margin-left: .5em;
}



/**
 * The days on the calendar
 */

.pickadate__day {
    padding: .33em 0 .25em;
    font-weight: 100;
    border: 1px solid #fff;
    margin: -1px -1px 0;
}

.pickadate__day--outfocus {
    color: #ddd;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    -moz-opacity: .75;
         opacity: .75;
}

.pickadate__day--today {
    color: #0089ec;
    position: relative;
}

.pickadate__day--today:before {
    content: " ";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: .5em solid #0059bc;
    border-left: .5em solid transparent;
}

.pickadate__day--selected,
.pickadate__day--selected:hover {
    background: #0089ec;
    color: #fff;
}

.pickadate__day--highlighted,
.pickadate__day--highlighted:hover {
    border-color: #0089ec;
}

.pickadate__day--disabled,
.pickadate__day--disabled:hover {
    background: #f5f5f5;
    color: #ddd;
    cursor: default;
}

.pickadate__day--disabled:before {
    border-top-color: #aaa;
}





/**
 * The footer containing the "today" and "clear" buttons
 */

.pickadate__footer {
    text-align: center;
    margin: .25em 0 -.75em;
}

.pickadate__button--today,
.pickadate__button--clear {
    border: 1px solid #fff;
    background: #fff;
    font-size: .8em;
    padding: .66em 0;
    margin: 0 2.5%;
    font-weight: bold;
    width: 40%;
}

.pickadate__button--today:before,
.pickadate__button--clear:before {
    position: relative;
    display: inline-block;
    height: 0;
}

.pickadate__button--today:before {
    content: " ";
    margin-right: .45em;
    top: -.05em;
    width: 0;
    border-top: .66em solid #0089ec;
    border-left: .66em solid transparent;
}

.pickadate__button--clear:before {
    content: "×";
    margin-right: .35em;
    top: -.1em;
    color: #e20;
    vertical-align: top;
    font-size: 1.1em;
}

.pickadate__button--today:focus,
.pickadate__button--clear:focus {
    border-color: #0089ec;
    outline: none;
}





/**
 * For bigger screens
 */

@media (min-height: 342px) {

    .pickadate__calendar {
        font-size: 1.25em;
    }
}

@media (min-height: 424px) {

    .pickadate__frame {
        overflow-y: visible;

        top: auto;
        bottom: -100%;
    }

    .pickadate__holder--opened .pickadate__frame {
        top: auto;
        bottom: 0;
    }

    .pickadate__wrap {
        display: block;
    }

    .pickadate__calendar {
        display: block;
        font-size: 1.33em;

        border: 1px solid #777;
        border-top-color: #888;
        border-bottom-width: 0;

        -webkit-border-radius: 6px 6px 0 0;
           -moz-border-radius: 6px 6px 0 0;
                border-radius: 6px 6px 0 0;

        -webkit-box-shadow: 0 12px 36px 12px rgba(0,0,0,.24);
           -moz-box-shadow: 0 12px 36px 12px rgba(0,0,0,.24);
                box-shadow: 0 12px 36px 12px rgba(0,0,0,.24);
    }
}

@media (min-height: 542px) {

    .pickadate__frame {
        margin-bottom: 5%;
    }

    .pickadate__calendar {
        font-size: 1.5em;
        border-bottom-width: 1px;

        -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
                border-radius: 6px;
    }
}



